{{ header }}
<div id="account-newsletter" class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set content_class = 'col-lg-6' %}
    {% elseif column_left or column_right %}
    {% set content_class = 'col-lg-9' %}
    {% else %}
    {% set content_class = 'col-12' %}
    {% endif %}
    <div id="content" class="{{ content_class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <div class="form-group row align-items-center">
            <label class="col-sm-2 col-form-label">{{ entry_newsletter }}</label>
            <div class="col-sm-10">
              {% if newsletter %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="newsletter" value="1" checked="checked" />
                <label class="form-check-label">{{ text_yes }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="newsletter" value="0" />
                <label class="form-check-label">{{ text_no }}</label>
              </div>
              {% else %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="newsletter" value="1" />
                <label class="form-check-label">{{ text_yes }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="newsletter" value="0" checked="checked" />
                <label class="form-check-label">{{ text_no }}</label>
              </div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="float-left"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
          <div class="float-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
