<nav class="module nav flex-column">
  {% for category in categories %}
  {% if category.category_id == category_id %}
  <a href="{{ category.href }}" class="nav-link active">{{ category.name }}</a>
  {% if category.children %}
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <a href="{{ child.href }}" class="nav-link active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% else %}
  <a href="{{ child.href }}" class="nav-link">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %} <a href="{{ category.href }}" class="nav-link">{{ category.name }}</a>
  {% endif %}
  {% endfor %}
</nav>
