<div class="module">
  <h3 class="module-title">{{ heading_title }}</h3>
  <div class="row">
    {% for product in products %}
      <div class="product-layout col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="product-thumb">
          <figure class="image">
            <a class="d-block" href="{{ product.href }}">
              <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="product-thumb__image img-fluid" />
            </a>
          </figure>
          <div class="caption">
            <h4 class="title"><a href="{{ product.href }}">{{ product.name }}</a></h4>
            <p class="description">{{ product.description }}</p>
            {% if product.rating %}
            <div class="rating">
              {% for i in 1..5 %}
                {% if product.rating < i %}
                  <i class="fa fa-star star-empty"></i>
                  {% else %}
                  <i class="fa fa-star"></i>
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            {% if product.price %}
            <div class="price">
              {% if not product.special %}
                {{ product.price }}
              {% else %}
                <span class="price-new">{{ product.special }}</span>
                <del class="price-old">{{ product.price }}</del>
              {% endif %}
              {% if product.tax %}
                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
              {% endif %}
            </div>
            {% endif %}
          </div>
          <div class="button-group" role="group">
            <button type="button" class="btn btn-link" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-link" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
            <button type="button" class="btn btn-link" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
