<div class="sidebar">
  <ul class="nav flex-column">
    {% for information in informations %}
    <li class="nav-item"><a class="nav-link" href="{{ information.href }}">{{ information.title }}</a></li>
    {% endfor %}
    <li class="nav-item"><a class="nav-link" href="{{ contact }}">{{ text_contact }}</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ sitemap }}">{{ text_sitemap }}</a></li>
  </ul>
</div>
