<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-6 col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="nav flex-column row">
         {% for information in informations %}
          <li class="nav-item"><a class="nav-link" href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-6 col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="nav flex-column row">
          <li class="nav-item"><a class="nav-link" href="{{ contact }}">{{ text_contact }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ return }}">{{ text_return }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="nav flex-column row">
          <li class="nav-item"><a class="nav-link" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="nav flex-column row">
          <li class="nav-item"><a class="nav-link" href="{{ account }}">{{ text_account }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ order }}">{{ text_order }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
