{{ header }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set content_class = 'col-lg-6' %}
    {% elseif column_left or column_right %}
    {% set content_class = 'col-lg-9' %}
    {% else %}
    {% set content_class = 'col-12' %}
    {% endif %}
    <div id="content" class="{{ content_class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
