{% if categories %}
<div class="container">
  <nav id="menu" class="navbar navbar-expand-md">

    <span id="category" class="navbar-text d-md-none">{{ text_category }}</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        {% for category in categories %}
        {% if category.children %}
        <li class="nav-item dropdown">
          <a href="{{ category.href }}" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ category.name }}</a>
          <div class="dropdown-menu">

            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a>
                {% endfor %}
              </ul>
              {% endfor %}
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-primary" href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}
